.menu{
    width: 100%;
    background-color: white;
    color: black;
    margin-top: 20px;
    border: 2px solid black;
    font-family: sans-serif;
}
.menu .heading{
    text-align: center;
    font-size: 18px;
    margin: 3% 0px;
}
.menu .container{
    margin:10px;
}
.menu .container .card, .menu  .container .card, .menu .container .card{
    display: inline-block;
	width: calc(32% - 20px);
    margin:10px;
    padding:2px 5px;
    background-color: rgb(135, 120, 148);
    border: 2px solid black;

}
.menu .container .card .box h3, .menu  .container .card .box h3, .menu .container .card .box h3{
    width:fit-content;
    padding: 0px 10px;
    border: 2px solid black;
}
.menu .container .card .box .chic{
    margin-left: 81%;
    margin-top: -2px;
    background-color: pink;
}
.menu .container .card .box .beef{
    margin-left: 87%;
    margin-top: -2px;
    color: white;
    background-color: rgb(180, 8, 8);
}
.menu .container .card .box .sushi{
    margin-left: 85%;
    margin-top: -2px;
    background-color: rgb(182, 182, 11);
}