* {
    box-sizing: border-box;
  }
.container{
    border: 2px solid rgb(158, 154, 154);
    margin:5% 20%;
    font-family: Arial, Helvetica, sans-serif;
}
.container .header {
    padding: 20px 30px;
    text-align: center;
  }
.container .header .heading{  
    text-align: center;
    color: rgb(51, 49, 49);
    font-size: 27px;
    margin: 4%;
    font-weight: 900;

  }
.container .header span{
      background-color: rgba(3, 87, 241, 0.733);
      color: white;
      width:20%;
}
  /* Clear floats after the header */
.container .header:after {
    content: "";
    display: table;
    clear: both;
  }
input {
    margin-right: 10px;
    border:2px solid rgb(172, 167, 167);
    width: 55%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
.container .remove input{
    padding: 10px;
    text-align: center;
    margin:6% 0% 6% 80%;
    background-color: rgba(3, 87, 241, 0.733);
    border: 2px solid rgba(3, 87, 241, 0.733);
    color: white;
    width:20%;
  }
  /* Remove margins and padding from the list */
.container ul {
    margin: 30px;
    padding: 0;
  }
  
  /* Style the list items */
.container ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
.container ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
.container ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
.container  ul li.done {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
.container ul li.done::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .next {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .next:hover {
    background-color: #f44336;
    color: white;
  }
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #e91414;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }